{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Carrito de Compras</h1>
    {% if productos_en_carrito %}
    <ul>
        {% for producto in productos_en_carrito %}
        <li>{{ producto.name }} - Precio: {{ producto.price }}</li>
        {% endfor %}
    </ul>
    <p>Total: {{ productos_en_carrito|length }} producto(s)</p>
    {% else %}
    <p>El carrito está vacío.</p>
    {% endif %}
    <a href="{% url 'lista_productos' %}">Continuar comprando</a>
    {% endblock %}
</div>